


<!--Japanese Version-->
<!--メイン写真-->
<div class="webapp">
<div class="topimg2 wow fadeIn" data-wow-duration="2s">
  <h1 class="title">NED</h1>
  <p class="subtitle1">Improve your English skill</p>
  <span class="signup-button"><%= link_to 'Signup', signup_path %></span>
  <span class="login-button"><%= link_to 'Login', login_path %></span>
</div>

<div class="row app1">
  <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
    <%= image_tag 'english_diary', :width => '100%' %>
  </div>
  <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
    <p class="after-picture"><span class="bold">FSE</span>はFocus on Speaking English の略です。</p>
    <p>著書『英語日記BOY』の著者新井リオさんが提案する英語勉強法を更に効果的なものにしたいと考え、このWebアプリケーション開発を試みました。</p>
    <p>1番の目的は、<span class="bold">「新井さんが考える英語が話せる定義 = 今言いたいオリジナルフレーズが瞬時に出てくることをクリアすること、
    つまり、英語が話せるようになること」です。</span></p>
  </div>
</div>
<div class="row app2">
  <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
    <%= image_tag 'reading', :width => '100%' %>
  </div>
  <div class="col-sm-6 wow fadeInUp after-picture" data-wow-delay="0.5s" data-wow-duration="1s">
    <p>このWebアプリケーションの趣旨をより理解していただくために、このWebアプリケーションの機能に関わる『英語日記BOY』の部分的な要約を載せておきます。
    ぜひ一読ください。</p>
  </div>
</div>
<div class="row app3">
  <div class="summary">
    <h1 class="text-center summary-title">Summary</h1>
    <p>まずは新井さんが考えた「英語が話せる」の定義を確認します。</p>
    <div class="box">
        <span class="box-title">Check</span>
        <p class="check">英語を話すことができる = <span class="bold">「いま言いたいオリジナル英語フレーズが瞬時に出てくること」</span></p>
    </div>
    <p>この考えから新井さんは<span class="bold">「いつか自分が言うであろう英語フレーズ」を先回りして知っておけばよい</span>という考えにたどり着きます。</p>
    <p>そして、この先どんなことを英語で話すのかと考え、<span class="bold">今日起きた出来事</span>や<span class="bold">今日抱いた感情</span>ではないかと考え、
    それはつまり<span class="bold">日記に書くようなことと一致していると気が付きました。</span></p>
    <p>つまり、<span class="under">日記に書いてしまうような内容が全て英語で言えるようになれば、
    新井さんが考える「英語を話すことができる」の条件をクリアできる
    </span>ということです。</p>
    </div>
    <p>この考えから英語で日記を毎日書くわけですが、いくら調べてもネイティブからして不自然な英文になってしまうことはあります。</p>
    <p>そこで新井さんが考えたのは<span class="bold">オンライン英会話を活用して添削してもらう</span>という方法です。</p>
    <p>添削後、<span class="bold">完全なオリジナル、且つ言えるようになれば必ず役に立つ英語例文が手に入る</span>という訳ですね。</p>
    <p>しかしここまでのプロセスでは、自分が今後話すであろうフレーズを先取りすることまではできていますが、
    新井さんが考えた「英語が話せるの定義」、つまり「いま言いたいオリジナル英語フレーズが瞬時に出てくること」をクリアできていません。</p>
    <p>
    <p>ここまでがこのWebアプリケーションの機能に関わる『英語日記BOY』の部分的な要約になるのですが、この本を読み終えた後あるアイデアが浮かんできました。
    まさにこのとき浮かんだアイデアが、このWebアプリケーションを作ろうと決めたきっかけとなったのですが、それは</p>
    <div class="box">
        <span class="box-title">Point</span>
        <p class="check">今後言えるようになれば必ず役に立つオリジナル英語例文を、<span class="under">他の人と共有すれば共有する人の数だけ一日にインプットできる
        オリジナル英文が増える。</span></p>
    </div>
    <p>というものです。</p>
    <p>特にESSは英語好きであったり、英語に興味がある人の集まりなので、このアイデアを実現すれば、<span class="bold">学んだことをアウトプットできる、且つ
    他の人が作ったオリジナル英文をインプットもできるのでWin-Win関係を築くことができる</span>のです。</p>
    <p>これはもう１人で黙々と本の内容をこなすのではなく、英語好きな人と共有した方が良いと考えました。</p>
    <p>しかしここで問題なのが、誰もが有料のオンライン英会話を受けなければいけないのかということです。
    金銭的な問題や、時間的な問題から誰もがオンライン英会話を受けて、かつ日記の添削を受けるのは難しいです。そこで、その代わりとなるようなものを考えついたので、
    以下で説明しようと思います。</p>
    <p>自分は毎日NetFlixで海外ドラマを見て、お気に入りフレーズがあればメモをしているのですが、このフレーズはネイティブが使っている
    英文であるので、添削の必要がないのです。そこで思いついたのがこちらです。
    <div class="box">
        <span class="box-title">Idea</span>
        <p class="check"><span class="under">海外ドラマ・映画から得たフレーズは、日記を添削してもらって得たオリジナル英文と同様皆で共有すれば、
    １人でインプットする量よりもはるかに多いフレーズに触れることができる。</span></p>
    </div>
    <p>というものです。</p>
    <p>ここまでを一旦まとめておきますと、
    <p>ではここからは、このWebアプリケーションのより詳しい説明を、</p>
    <div class="box1">
        <p>1. Problem : 英語学習者が抱えているであろう問題点</p>
        <p>2. Solution : 問題点をどのように解決するのか</p>
        <p>3. Function : どのような機能で問題点の解決を試みるのか</p>
    </div>
    <p class="up">の3つの観点からしていこうしていこうと思います。</p>
  </div>
</div>
<div class="row app4">
    <h1 class="text-center col-12">Problem</h1>
    <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
        <%= image_tag 'problem', :width => '100%', class: 'img-top1' %>
    </div>
    <div class="col-sm-6 wow fadeInUp after-picture" data-wow-delay="0.8s" data-wow-duration="1s">
        <p>1. 英語学習の目的が不明確。</p>
        <p>2. モチベーションが高い状態で保つことができない。</p>
        <p>3. アウトプットの機会(Speaking・Writing)の時間が圧倒的に少ない</p>
    </div>
</div>

<div class="row app5">
    <h1 class="text-center col-12">Solution</h1>
    <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
        <%= image_tag 'solution', :width => '100%', class: 'img-top2' %>
    </div>
    
    <div class="col-sm-6 wow fadeInUp after-picture" data-wow-delay="0.6s" data-wow-duration="1s">
        <p class="check">英語学習の目標を言語化し、それを<span class="under">宣言・共有しましょう。</span></p>
        <p class="check"><span class="under">英語とモチベーションに関する研究結果を提示します。また、アウトプットした量を数値で示し視覚化することで
            前進する感覚をつけます。</span><br>** これは前進する感覚がモチベーション維持に有効であることを
            示した研究結果に基づいています。</p>
        <p class="check"><span class="under"> 学んだことを共有する環境を提供します。</span></p>
    </div>
</div>

<div class="row app6">
    <h1 class="text-center col-12">Function</h1>
    <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1s">
        <%= image_tag 'function', :width => '100%', class: 'img-top3' %>
    </div>
    <div class="col-sm-6 wow fadeInUp after-picture" data-wow-delay="0.6s" data-wow-duration="1s">
        <p class="check"><span class="under">英語学習に役立つ研究結果の閲覧機能</span></p>
        <p class="check"><span class="under">アウトプットした量を視覚化する機能</span></p>
        <p class="check">長期記憶に関する研究に沿った<span class="under">復習タイミングお知らせ機能</span></p>
        <p class="check">オリジナルフレーズを<span class="under">共有するための投稿機能</span></p>
        <p class="check">他の人の投稿に対する<span class="under">いいね機能</span></p>
    </div>
</div>

</div>







            

