<div id="home" class="big-bg wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
  <header class="page-header wrapper">
    <!-- wow durationでアニメーションの継続時間を指定-->
    <h1><a href="<%= root_path %>">
      <%= image_tag "logo", alt: "SPEnglishのロゴ", class: "logo"%>
    </a></h1>
    <nav>
      <ul class="main-nav">
        <li><%= link_to "Signup", signup_path %></li>
        <li><%= link_to "Login", login_path %></li>
      </ul>
    </nav>
  </header>

  <div class="home-content wrapper">　
    <h2 class="page-title">Share Phrases in English</h2>
    <p>海外ドラマ・映画・オンライン英会話で得たフレーズを共有しよう</p>
  </div><!-- /.home-content -->
</div><!-- /#home -->

<div class="row portfolio">
  <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
    <%= image_tag 'reading', class: "img-top1", alt: '画像' %>
  </div>
  <div class="col-xl-6 wow fadeInUp after-reading" data-wow-delay="0.5s" data-wow-duration="1s">
    <p>SPEnglishは、このWebアプリケーションの趣旨である「Share Phrases in English」から名付けました。
    </p>
    <p>このSPEnglishは、著書『英語日記BOY』の著者新井リオさんが提案する英語勉強法をより加速させるため、
       今後言うであろう英語のフレーズの共有＆英語学習のモチベーション維持を図ることを
       目的としたWebアプリケーションとなっています。
    </p>
    <p>ではここからは、Problem（英語学習の問題点の明確化）・Solution(問題点の解決策)・
       Function(どのような機能を用いて問題解決を試みるか)の3点を説明していきたいと思います。
    </p>
  </div>
</div>

<div class="row problem portfolio">
    <h1 class="text-center col-12">Problem</h1>
    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
        <%= image_tag 'problem', class: "img-top2", alt: '画像' %>
    </div>
    <div class="col-lg-6 wow fadeInUp after-problem" data-wow-delay="0.5s" data-wow-duration="1s">
        <p>1. 英語学習の目的が不明確。</p>
        <p>2. モチベーションが高い状態で保つことができない。</p>
        <p>3. アウトプットの機会(Speaking・Writing)の時間が圧倒的に少ない</p>
    </div>
</div>

<div class="row solution portfolio">
    <h1 class="text-center col-12">Solution</h1>
    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
        <%= image_tag 'solution', class: "img-top3", alt: '画像'%>
    </div>
    
    <div class="col-lg-6 wow fadeInUp after-solution" data-wow-delay="0.5s" data-wow-duration="1s">
        <p class="check">英語学習の目標を言語化し、それを<span class="under">宣言・共有しましょう。</span></p>
        <p class="check"><span class="under">英語とモチベーションに関する研究結果を提示します。また、アウトプットした量を数値で示し視覚化することで
            前進する感覚をつけます。</span><br>** これは前進する感覚がモチベーション維持に有効であることを
            示した研究結果に基づいています。</p>
        <p class="check"><span class="under"> 学んだことを共有する環境を提供します。</span></p>
    </div>
</div>
<div class="row function portfolio">
  <h1 class="text-center col-12">Function</h1>
    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
      <%= image_tag 'function', class: "img-top4", alt: '画像' %>
    </div>
    <div class="col-lg-6 wow fadeInUp after-function" data-wow-delay="0.5s" data-wow-duration="1s">
        <p class="check"><span class="under">英語学習に役立つ研究結果の閲覧機能</span></p>
        <p class="check"><span class="under">アウトプットした量を視覚化する機能</span></p>
        <p class="check">長期記憶に関する研究に沿った<span class="under">復習タイミングお知らせ機能</span></p>
        <p class="check">オリジナルフレーズを<span class="under">共有するための投稿機能</span></p>
        <p class="check">他の人の投稿に対する<span class="under">いいね機能</span></p>
    </div>
</div>

</div>


