<%= render 'layouts/navbar' %>
<div class="container">
    <div class="row user-img-edit">
        <div class="col-5">
             <% if @user.image? %>
                <%= image_tag @user.image.url, class: 'user-pro-img', alt: 'profile画像' %>
            <% else %>
                <%= image_tag "/assets/default.png" , class: 'user-pro-img', alt: 'profile画像' %>
            <% end %>
            <div class="user-name">
                <%= @user.name %>
            </div>
        </div>
        <div class="col-5 offset-2">
            <% if current_user == @user %> 
                <%= link_to "Edit profile", edit_user_path(@user), class: 'btn btn-info btn-block edit-profile-btn' %>
            <% end %>
            <%= render 'relationships/follow_button', user: @user %>
        </div>
    </div>
    <!-- rowここまで -->
    <div class="row profile-intro">
        <div class="col-12">
            <p>Subscription : <%= @user.subscription %><br>
               Movie : <%= @user.movie %>
            </p>
        </div>
    </div>
    <!-- rowここまで -->
    <div class="row">
        <div class="col-2 posts-ml">
            <%= @count_posts %>Posts 
        </div>
        <div class="col-2">
            <%= link_to followings_user_path(@user) do %>
                <%= @count_followings %>Following
            <% end %>
        </div>
        <div class="col-2 offset-1">
            <%= link_to followers_user_path(@user) do %>
                <%= @count_followers %>Followers
            <% end %>
        </div> 
        <div class="col-4">
        </div>
    </div>
    <!-- rowここまで -->
    <div class="post-modal">
        <!-- modal open -->
        <p class="text-center post"><a class="js-modal-open" href="" data-target="modal01">Post</a></p>
    </div>
    <!-- modal -->
    <div id="modal01" class="c-modal js-modal">
        <div class="c-modal_bg js-modal-close"></div>
        <div class="c-modal_content _lg">
            <div class="c-modal_content_inner text-center post">
                <p>Share your favorite phrase</p>
                <%= form_with(model: @post, local: true) do |f| %>
                    <div class="form-group">
                        <%= f.text_area :content, class: 'form-control', rows: 5 %>
                    </div>
                    <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
                <% end %>
                <a class="js-modal-close c-modal_close" href=""><span>close</span></a>
            </div>
        </div>
    </div>
    <!--modalここまで-->
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">Posts <span class="badge badge-secondary"><%= @count_posts %></span></a></li>
        <li class="nav-item"><a href="<%= favoriteposts_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(favoriteposts_user_path(@user)) %>">Likes <span class="badge badge-secondary"><%= @count_favoriteposts %></span></a></li>
    </ul>
    <%= render 'posts/posts', posts: @posts %>
</div>
