<%= render 'layouts/navbar' %>

            <% if @user.image? %>
                <%= image_tag @user.image.url %>
            <% else %>
                <%= image_tag "/assets/default.png" %>
            <% end %>

            <%= @user.name %>
 
                    <% if current_user == @user %>
                        <%= link_to "Edit profile", edit_user_path(@user), class: 'btn btn-info btn-block' %>
                    <% end %>
                    <%= render 'relationships/follow_button', user: @user %>
      
            <%= @count_posts %>Posts<%= @count_followers %>Followers<%= @count_followings %><Following</span></p>
            Subscription : <%= @user.goal %>Favorite movie(drama) : <%= @user.achieve %>
   Total Posts<%= @count_posts %>
     
                <!-- modal open -->
                <h5 class="text-center post">Share your original phrase</h5>
                <p class="text-center post"><a class="js-modal-open" href="" data-target="modal01">Post</a></p>
            <!-- modal -->
            <div id="modal01" class="c-modal js-modal">
                <div class="c-modal_bg js-modal-close"></div>
                <div class="c-modal_content _lg">
                    <div class="c-modal_content_inner text-center post">
                        <p>Share your original phrase</p>
                        <%= form_with(model: @post, local: true) do |f| %>
                            <div class="form-group">
                                <%= f.text_area :content, class: 'form-control', rows: 5 %>
                            </div>
                            <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
                        <% end %>
                        <a class="js-modal-close c-modal_close" href=""><span>close</span></a>
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">Posts <span class="badge badge-secondary"><%= @count_posts %></span></a></li>
    
                <li class="nav-item"><a href="<%= favoriteposts_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(favoriteposts_user_path(@user)) %>">Likes <span class="badge badge-secondary"><%= @count_favoriteposts %></span></a></li>
            </ul>
            <%= render 'posts/posts', posts: @posts %>
