<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- 古いInternet Explorerでデザインが崩れるのを防ぐ-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!---幅をデバイスの幅に合わせてレスポンシブデザインにする-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="文書の説明は検索エンジンの検索結果ページに表示されるため、タイトルと並びSEO上非常に重要。">
    <title>NanzanESS</title>
    <!--セキュリティ対策(WebAppliction作成時のdefault)-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    -->
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--CSS, Javascriptの両方を読み込む(WebAppliction作成時のdefault)-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Bootstrapに必要-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    <!--slick(カルーセル実装)を使えるようにするため⇒bodyでも他に読み込むものがある
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    -->
    <!--FontAwesomを使うため-->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <!--animate.cssを読み込む(cdn)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.css">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    
    <%= render 'layouts/flash_messages' %>
    
    <%= yield %>    
    
    <!--wowを読み込む(cdn)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
      //smartohoneでアニメーションをOFFにしたいときの記述 
      new WOW({
        mobile: false
      }).init();
    </script>
    <!--これを入れたことで適正セクションテストが正常に動作した-->
    <!--これを記述するまでは、fadeIn is not a function というErrorが出ていた-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!--
    <script>

  var btn = document.getElementById('btn');

  btn.addEventListener('click', (e) => {
    const text = prompt('Please enter the number of times you practiced pronunciation !')
    var count = document.getElementById('count')
    count.innerHTML = text
  }, false);
</script>

-->

    <script>
$(function(){
    
    var arySpinnerCtrl = [];
    var spin_speed = 20; //変動スピード
    
    //長押し押下時
    $('.btnspinner').on('touchstart mousedown click', function(e){
        if(arySpinnerCtrl['interval']) return false;
        var target = $(this).data('target');
        arySpinnerCtrl['target'] = target;
        arySpinnerCtrl['timestamp'] = e.timeStamp;
        arySpinnerCtrl['cal'] = Number($(this).data('cal'));
        //クリックは単一の処理に留める
        if(e.type == 'click'){
            spinnerCal();
            arySpinnerCtrl = [];
            return false;
        }
        //長押し時の処理
        setTimeout(function(){
            //インターバル未実行中 + 長押しのイベントタイプスタンプ一致時に計算処理
            if(!arySpinnerCtrl['interval'] && arySpinnerCtrl['timestamp'] == e.timeStamp){
                arySpinnerCtrl['interval'] = setInterval(spinnerCal, spin_speed);
            }
        }, 500);
    });
    
    //長押し解除時 画面スクロールも解除に含む
    $(document).on('touchend mouseup scroll', function(e){
        if(arySpinnerCtrl['interval']){
            clearInterval(arySpinnerCtrl['interval']);
            arySpinnerCtrl = [];
        }
    });
    
    //変動計算関数
    function spinnerCal(){
        var target = $(arySpinnerCtrl['target']);
        var num = Number(target.val());
        num = num + arySpinnerCtrl['cal'];
        if(num > Number(target.data('max'))){
            target.val(Number(target.data('max')));
        }else if(Number(target.data('min')) > num){
            target.val(Number(target.data('min')));
        }else{
            target.val(num);
        }
    }
    
});

// ウィンドウを開く
$( '.js-modal-open' ).each( function() {
  $( this ).on( 'click', function() {
       var target = $( this ).data( 'target' );
       var modal = document.getElementById( target );
       $( modal ).fadeIn( 300 );
       return false;
  });
});

// ウィンドウを閉じる
$( '.js-modal-close' ).on( 'click', function() {
 $( '.js-modal' ).fadeOut( 300 );
 return false;
});



</script>
  </body>
</html>